 <div class="content">

    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>Your Orders</h1>
      </div>
      <div class="contentin">
      <%= form_with(url: "/menus", method:"post", class: "") do %>

          <p class="adjustmenu2">Enter Menu Name</p>
          <%= text_field_tag 'name' ,nil , class: "Form-input" %>

        <%= submit_tag "Add Items" , class: "signup-btn-in3"%>

      <%end%>
    </div>
    </div>
  </div>
